# Copied (and adapted) from https://github.com/Platane/Platane/blob/master/.github/workflows/main.yml

name: Generate images

on:
  # run automatically every 12 hours
  schedule:
    - cron: "57 */12 * * *" 

  # allows to manually run the job at any time
  workflow_dispatch:

  # run on every push on the master branch
  push:
    branches:
      - master

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      # generates a snake game from a github user (<github_user_name>) contributions graph, output a svg animation at <svg_out_path>
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Precache cards so they load faster on the README
      - name: Download stats card
        run: curl -o dist/stats.svg "https://github-stats-extended.vercel.app/api?username=adil192&theme=dark&role=OWNER,ORGANIZATION_MEMBER&rank_icon=percentile&show_icons=true&count_private=true&include_all_commits=true&custom_title=Adil%27s%20GitHub%20stats"

      - name: Download stats card (light)
        run: curl -o dist/stats-light.svg "https://github-stats-extended.vercel.app/api?username=adil192&role=OWNER,ORGANIZATION_MEMBER&rank_icon=percentile&show_icons=true&count_private=true&include_all_commits=true&custom_title=Adil%27s%20GitHub%20stats"

      - name: Download top languages card
        run: curl -o dist/top-langs.svg "https://github-stats-extended.vercel.app/api/top-langs/?username=adil192&theme=dark&role=OWNER,ORGANIZATION_MEMBER&show_icons=true&count_private=false&langs_count=8&hide=CMake,ShaderLab,C%23,C%2B%2B&layout=compact&exclude_repo=android_kernel_samsung_gts7,twrp_device_samsung_gts7lwifi,android10_kernel_samsung_gts7lwifi,android_device_samsung_gts7lwifi,android_kernel_samsung_exynos990,android_kernel_samsung_gts7lwifi-old,proprietary_vendor_samsung_gts7lwifi,android_device_samsung_r8s,proprietary_vendor_samsung_r8s,proprietary_vendor_samsung_sm8250-common,android_device_samsung_sm8250-common,android_device_samsung_exynos990-common,kernel_samsung_exynos990,proprietary_vendor_samsung_exynos990-common,recovery_device_samsung_r8s,PatientAccess_Patched,Stagecoach_Patched,social-old,web-repo,Adil-Hanney-Org&custom_title=Most%20used%20languages"

      - name: Download top languages card (light)
        run: curl -o dist/top-langs-light.svg "https://github-stats-extended.vercel.app/api/top-langs/?username=adil192&role=OWNER,ORGANIZATION_MEMBER&show_icons=true&count_private=false&langs_count=8&hide=CMake,ShaderLab,C%23,C%2B%2B&layout=compact&exclude_repo=android_kernel_samsung_gts7,twrp_device_samsung_gts7lwifi,android10_kernel_samsung_gts7lwifi,android_device_samsung_gts7lwifi,android_kernel_samsung_exynos990,android_kernel_samsung_gts7lwifi-old,proprietary_vendor_samsung_gts7lwifi,android_device_samsung_r8s,proprietary_vendor_samsung_r8s,proprietary_vendor_samsung_sm8250-common,android_device_samsung_sm8250-common,android_device_samsung_exynos990-common,kernel_samsung_exynos990,proprietary_vendor_samsung_exynos990-common,recovery_device_samsung_r8s,PatientAccess_Patched,Stagecoach_Patched,social-old,web-repo,Adil-Hanney-Org&custom_title=Most%20used%20languages"

      # push the content of <build_dir> to a branch
      # the content will be available at https://raw.githubusercontent.com/adil192/adil192/<target_branch>/<file> , or as github page
      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: snake
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
